@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: 'Open Sans', sans-serif;
    --heading-font-color: #fdfdfd;
    --background-color: #f1f1f1;
    --accent-color-0: #f1f1f1;
    --accent-color-1: #333333;
    --accent-color-1L: #3d3d3d;
    --accent-color-2: transparent;
    --accent-color-3: #e2e2e2;
    --accent-color-alfa: #111111d0;
    --text-light: #bebebe;
    --text-dark: #ffffff;
}


body {
    min-height: 100vh;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.scroll-indicator {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    z-index: 5;
    transform: rotate(180deg);
}

.scroll-indicator svg {
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    /* filter: drop-shadow(0 0 3px var(--accent-color-2)); */
}

.scroll-indicator svg circle {
    fill: black;
    stroke-width: 5px;
    stroke: rgb(41, 41, 41);
    stroke-dasharray: 125;
    stroke-dashoffset: 0;
    stroke-linecap: round;
}

.scroll-indicator svg :nth-child(2) {
    stroke: var(--accent-color-2);
}

.scroll-indicator a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent-color-2);
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--accent-color-1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    z-index: 3;
    filter: drop-shadow(0 2px 2px var(--accent-color-alfa));
}

.logo {
    position: relative;
    left: -4vw;
    color: var(--accent-color-0);
    font-size: 2em;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo:hover :nth-child(1) {
    color: var(--accent-color-2);
}

.menuBtn {
    display: none;
}

.items {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}

#nav-cross {
    display: none;
}

.nav-item {
    color: var(--accent-color-0);
    color: rgb(77, 77, 77);
    position: relative;
    white-space: nowrap;
    list-style: none;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    font-family: 'Open Sans', sans-serif;
    word-spacing: .1em;
    padding-left: 5px;
}

.nav-item:nth-child(2),
.nav-item.github {
    color: var(--accent-color-0);
}

.nav-item:nth-child(2)::before,
.nav-item.github::before {
    content: '';
    position: absolute;
    left: -2px;
    top: 0;
    background-color: var(--accent-color-2);

}

.nav-item:hover::before {
    content: '';
    width: 3px;
    height: 98%;
}

#star-logo {
    font-size: 0.8em;
}

.content-heading {
    position: relative;
    background-color: var(--accent-color-0);
    display: flex;
    flex-direction: row-reverse;
    gap: 10vw;
    width: 100%;
    min-height: 90vh;
    align-items: center;
    justify-content: space-evenly;
    /* padding-top: 20vh;
    padding-bottom: 20vh; */
}

.banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    /* align-self: flex-start;
    margin-top: 5%; */
}

#banner-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color-1);
    z-index: 0;
}

#my-image-wrap {
    z-index: 1;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%/50%;
    background-color: transparent;
    overflow: hidden;
    border: 2px solid var(--accent-color-0);
}

#my-image {
    transform: scale(0.8);
}

#banner-heading {
    padding-left: 20px;
    max-width: 600px;
    z-index: 1;
    align-self: flex-end;
    color: var(--accent-color-0);
    margin-top: 20px;
    font-family: var(--font);
    display: inline;
    text-decoration: none;
    font-size: 50px;
    font-weight: 700;
}

.heading,
.info {
    position: relative;
    width: fit-content;
}

.heading {
    line-height: 100px;
}

.info {
    line-height: 50px;
}

.heading::before,
.info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    background-color: var(--accent-color-2);
    z-index: 2;
    transform-origin: left;
    transition: transform 0.5s;
    transition-timing-function: ease-in-out;
}

.info:before {
    transition: 800ms;
}

.heading[data-scroll='in']::before,
.info[data-scroll='in']::before {
    transform: scaleX(0);
}

#my-name-heading {
    z-index: 1;
    color: var(--accent-color-0);
    margin-top: 20px;
    font-family: var(--font);
    display: inline;
    text-decoration: none;
    font-size: 50px;
    font-weight: 700;
}

#my-name-heading {
    color: var(--accent-color-2);
    transition: 200ms;
    animation: breathingName 2s linear infinite;
    filter: drop-shadow(0 0 5px var(--accent-color-2));
}

@keyframes breathingName {
    0% {
        filter: drop-shadow(0 0 0px var(--accent-color-2));
    }

    50% {
        filter: drop-shadow(0 0 10px var(--accent-color-2));
    }

    100% {
        filter: drop-shadow(0 0 0px var(--accent-color-2));
    }
}


#my-name-heading:hover {
    filter: saturate(0.9);
    animation: none;
}

#banner-heading .info {
    font-size: .4em;
    font-weight: 300;
    color: var(--accent-color-3);
}

.connections {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    padding: 50px 0;
}

.connections a * {
    font-size: .6em;
    color: var(--accent-color-3);
}

.connections a *:hover {
    color: var(--accent-color-2);
    text-shadow: 0 0 5px 5px #f1f1f1;
}

.content {
    background-color: var(--accent-color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 0px;
    padding: 50px 0;
}

.skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.skills>h1 {
    color: var(--accent-color-0);
    font-family: var(--font);
    font-size: 3em;
    font-variant: small-caps;
    transition: 200ms ease-in;
}

.skills section {
    position: relative;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 40px;
}

.skill-card {
    position: relative;
    height: 350px;
    width: 250px;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--accent-color-1L);
    gap: 50px;
    transition: transform 5000ms, filter 300ms;
}

.skill-card h3 {
    text-align: center;
    color: var(--accent-color-0);
    font-family: var(--font);
    letter-spacing: 2px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.skill-card h3 i {
    font-size: 1.7em;
}

.skill-card .percent {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(180deg);
}

.skill-card .percent svg {
    position: relative;
    width: 150px;
    height: 150px;
}

.skill-card .percent svg circle {
    fill: transparent;
    stroke-width: 10px;
    stroke: rgba(255, 255, 255, 0.034);
}

.skill-card .percent svg circle:nth-child(2) {
    stroke: var(--accent-color-2);
    transform: rotate(180);
    stroke-dasharray: 440;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    transition: 1000ms, filter 100ms;
}

.skill-card[data-scroll='in'] .percent svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * var(--perc-value)) / 100);
}

.skill-card[data-scroll='out'] .percent svg circle:nth-child(2) {
    stroke-dashoffset: 0;
}

.skill-card:hover .percent svg circle:nth-child(2) {
    filter: drop-shadow(0 0 4px var(--accent-color-2));
}

.projects {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 50px;
}

.projects>h1 {
    color: var(--accent-color-0);
    font-family: var(--font);
    font-size: 3em;
    font-variant: small-caps;
    transition: 200ms ease-in;
}

.projects section {
    position: relative;
    max-width: 80%;
    gap: 2rem;
    margin-top: 100px;
}

.projects-container {
    position: relative;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--accent-color-1L);
    gap: 18px;
    padding: 18px;
    margin-top: 20px;
    transition: transform 500ms, filter 300ms;
}

.projects-container .project {
    position: relative;
    min-width: 800px;
    max-width: 800px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--accent-color-1);
    transition: transform 500ms, filter 300ms, box-shadow 300ms;
}
.projects-container .project:hover {
    box-shadow: 0 0 1px 1px #aaa;
}

.project .row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.project-image {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--accent-color-1L);
    transition: transform 500ms, filter 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--accent-color-0);
}
.project-image {
    font-size: 1.5rem;
}

.project .project-name {
    color: var(--text-dark);
    font-family: var(--font);
    font-size: 1rem;
    transition: 200ms ease-in;
}
.project-description p {
    color: var(--text-light);
    font-family: var(--font);
    font-size: .9rem;
    transition: 200ms ease-in;
    margin-bottom: 10px;
}

.project .row-2 {
    color: var(--text-light);
    font-family: var(--font);
    font-size: 1em;
    transition: 200ms ease-in;
}
.project-secondary-info {
    display: none;
    position: relative;
    width: 100%;
    margin-top: 15px;
}
.tech-stack,
.project-features,
.project-screen-shots {
    position: relative;
    margin-bottom: 1rem;    
}
.tech-stack h3,
.project-features h3,
.project-screen-shots h3 {
    color: var(--text-dark);
    font-family: var(--font);
    font-size: 1rem;
    transition: 200ms ease-in;
    margin-bottom: .6rem;
    padding-left: .3rem;
}
.tech-stack ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: .8rem;
    list-style: none;
}
.tech-stack ul li {
    background-color: var(--accent-color-1L);
    padding: .5rem .8rem;
    border-radius: 5px;
    color: var(--text-light);
    font-family: var(--font);
    font-size: .8rem;
    font-family: monospace;
    transition: 200ms ease-in;
}
.more-project-items {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.project-features{
    flex-grow: 1;
}

.project-features ul {
    background-color: #414141;
    padding: 10px;
    list-style: none;
    border-radius: 5px;
}
.project-features ul li {
    color: var(--text-light);
    font-family: var(--font);
    font-size: .8rem;
    font-family: monospace;
    transition: 200ms ease-in;
    line-height: 1.1rem;
}
.project-feature-list-key {
    font-weight: 700;
    font-size: .8rem;
    color: var(--accent-color-0);
    text-transform: capitalize;
}
.project-feature-list-value {
    font-weight: 300;
}
a.project-feature-list-value {
    color: var(--text-dark);
    text-decoration: none;
    transition: 200ms ease-in;
}
a.project-feature-list-value:hover {
    color: var(--accent-color-2);
}

.project-screen-shots {
    position: relative;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}
.project-screen-shots .image-array-wrapper {
    position: relative;
    background-color: var(--accent-color-1L);   
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.project-screen-shots .image-array {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.image-array::-webkit-scrollbar,
.image-array-wrapper::-webkit-scrollbar {
    display: none;
}
.project-screen-shots .image-array img {
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 500ms, filter 300ms;
}
.project-screen-shots .image-array-wrapper button.left-scroll,
.project-screen-shots .image-array-wrapper button.right-scroll {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    background: linear-gradient(90deg, rgba(0,0,0,0.3) 10%, rgba(0,0,0,0.1) 100%);
    border: none;
    border-radius: 5px 0 0 5px;
    color: var(--text-dark);
    font-family: var(--font);
    font-size: 1em;
    transition: 200ms ease-in;
    cursor: pointer;
    z-index: 10;
}
.project-screen-shots .image-array-wrapper button.right-scroll {
    left: auto;
    right: 0;
    border-radius: 0 5px 5px 0;
    background: linear-gradient(270deg, rgba(0,0,0,0.3) 10%, rgba(0,0,0,0.1) 100%);
}
.project-actions {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.project-actions a {
    font-family: var(--font);
    font-size: 1rem;
    transition: 200ms ease-in;
    cursor: pointer;
    padding: .4rem .8rem;
    color: var(--text-light);
    background-color: var(--accent-color-1L);
    text-decoration: none;
    border-radius: 5px;
}
.project-actions a:hover {
    color: var(--text-dark);
    box-shadow: 0 0 0 2px #aaa;
}



.hobbies {
    padding: 20px;
    color: #c4c4c4;
    font-size: 1.3em;
}


@media only screen and (max-width: 1000px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 100px;
        width: 100vw;
        padding: 10px 0;
        z-index: 3;
    }

    .menuBtn {
        display: block;
        color: rgb(219, 219, 219);
        font-size: 1.7em;
        transition: 100ms;
    }

    .menuBtn:hover {
        color: white;
        filter: drop-shadow(0 0 10px var(--accent-color-2));
    }

    ul.items {
        position: absolute;
        top: 0;
        left: 0%;
        height: 100vh;
        width: 250px;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--accent-color-1L);
        transition: 300ms;
    }
    .nav-item {
        font-size: 1.5em;
        color: var(--text-light);
        text-decoration: none;
        transition: 100ms;
        user-select: none;
    }

    #nav-cross {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.5em;
        display: block;
        color: var(--accent-color-0);
    }

    #nav-cross:hover {
        color: var(--accent-color-2);
    }

    .active-nav-box {
        transform: translate(-100%);
    }

    .banner {
        margin-top: 50px;
        align-self: center;
    }

    #banner-heading {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-self: center;
        max-width: none;
    }

    .info,
    .heading {
        text-align: center;
        padding: 0 2rem;
    }

    .connections {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    .connections a:hover {
        filter: drop-shadow(0 0 5px var(--accent-color-2));
    }

    .heading::before,
    .info::before {
        transform-origin: center;
    }


    .content-heading {
        position: relative;
        background-color: var(--accent-color-0);
        display: flex;
        flex-direction: column;
        gap: 100px;
        width: 100%;
        min-height: 80vh;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .skills section {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .projects-container .project {
        min-width: 780px;
        max-width: 780px;
    }
    .project-name h2 {
        font-size: 1.3rem;
    }
    .project-image {
        font-size: 1rem;
    }
    .project-description {
        font-size: .8rem;
    }
}

@media screen and (max-width: 800px) { 
    .projects-container .project{
        min-width: 600px;
        max-width: 600px;
    }
    #banner-heading {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .info {
        line-height: 40px;
        font-size: 1rem;
    }

    .heading {
        font-size: 2rem;
        line-height: 50px;
        margin-bottom: 30px;
    }

    #my-name-heading {
        font-size: 2.5rem;
    }

    ul.items {
        width: 100vw;
        height: 100vh;
    }
    ul.items li {
        margin: 1rem 0;
        font-size: 2rem;
    }
    .projects-container {
        padding: 15px;
        gap: 15px;
    }
    .project .project-image {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }
    .project-name h2{
        font-size: 1rem;
    }
    .project-description p {
        font-size: .8rem;
    }
    .project .row-1 {
        margin-bottom: 10px;
    }
    .project-feature-list-key {
        font-size: .8rem;
    }
    .project-feature-list-value {
        /* display: block; */
        font-size: .7rem;
    }
    .projects-container .project{
        min-width: 450px;
        max-width: 450px;
    }
    .project-description p {
        font-size: .8rem;
    }
    .project .tech-stack h3,
    .project .project-features h3 {
        font-size: .9rem;
    }
    .project .tech-stack ul {
        padding: 3px;
    }
    .project .tech-stack ul li {
        font-size: .7rem;
        margin: 5px;
    }
    .project-features ul li {
        font-size: .7rem;
        margin-bottom: 5px;
    }
    .project-actions a {
        font-size: .8rem;
        font-weight: 500;
        padding: .3rem .6rem;
    }

}

@media screen and (max-width: 500px) {
    .projects-container {
        padding: 10px;
        gap: 10px;
    }
    .projects-container .project{
        min-width: 400px;
        max-width: 400px;
        gap: 0;
    }
    .project .project-image {
        width: 25px;
        height: 25px;
        font-size: .8rem;
    }
    .project-name h2{
        font-size: .8rem;
    }
    .project-description p {
        font-size: .7rem;
    }
    .project .row-1 {
        margin-bottom: 10px;
    }
    .project-feature-list-key {
        font-size: .8rem;
    }
    .project-feature-list-value {
        display: block;
    }
    .project-description {
        font-size: .7rem;
    }
    .project .tech-stack h3 {
        font-size: .8rem;
    }
}
